__pycache__
archive


# Godot 4+ specific ignores
.godot/
android/

.plastic
.vs
.vsconfig
ProjectSettings
virtual-proving-ground/Packages
*.meta

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/
Recordings/

.DS_Store
Thumbs.db

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pdf

.vscode/
.idea/

Library
library
Temp
temp
Obj
obj
Build
build
Builds
builds
UserSettings
usersettings
MemoryCaptures
memorycaptures
Logs
logs
**/Assets/AssetStoreTools
**/assets/assetstoretools
/Assets/Plugins/PlasticSCM*
/assets/plugins/PlasticSCM*
*.private
*.private.meta
^*.private.[0-9]+$
^*.private.[0-9]+.meta$
.vs
.vscode
.idea
.gradle
ExportedObj
.consulo
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties
*.apk
*.aab
*.app
*.unitypackage
~UnityDirMonSyncFile~*
**/Assets/AddressableAssetsData/*/*.bin*
**/assets/addressableassetsdata/*/*.bin*
**/Assets/StreamingAssets/aa.meta
**/assets/streamingassets/*/aa/*
.DS_Store*
Thumbs.db
Desktop.ini


# ====================
# Unity (только для папки autonomous-driving-simulator)
# ====================
# Основные папки Unity
autonomous-driving-simulator/[Ll]ibrary/
autonomous-driving-simulator/[Tt]emp/
autonomous-driving-simulator/[Oo]bj/
autonomous-driving-simulator/[Bb]uild/
autonomous-driving-simulator/[Bb]uilds/
autonomous-driving-simulator/[Ll]ogs/
autonomous-driving-simulator/[Uu]ser[Ss]ettings/

# Пакеты Unity: игнорируем кэш
autonomous-driving-simulator/Packages/packages-lock.json
autonomous-driving-simulator/[Ll]ibrary/PackageCache/
autonomous-driving-simulator/Packages/*.private.*

# Файлы Visual Studio
autonomous-driving-simulator/*.csproj
autonomous-driving-simulator/*.unityproj
autonomous-driving-simulator/*.sln
autonomous-driving-simulator/*.suo
autonomous-driving-simulator/*.user
autonomous-driving-simulator/*.userprefs
autonomous-driving-simulator/*.pidb
autonomous-driving-simulator/*.booproj
autonomous-driving-simulator/*.svd
autonomous-driving-simulator/*.pdb
autonomous-driving-simulator/*.mdb
autonomous-driving-simulator/*.opendb
autonomous-driving-simulator/*.VC.db
autonomous-driving-simulator/*.slnx